.img-circle
{
  width: 200px;
  height: 200px;
}

.card-home
{
  /* width: 300px;
  height: 350px; */
  background-color: transparent;
  color: white;
  border-style: inset;
  border-width: 3px;
  border-color: black;
}

body
{
  font-family: 'Quicksand', sans-serif;
}