.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:80%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
 }
 
 .modal-main {
  position:fixed;
  background: whitesmoke;
  width: 75%;
  height: auto;
  top:60%;
  left:39%;
  transform: translate(-50%,-50%);
 }
 
 .display-block {
  display: block;
 }
 
 .display-none {
  display: none;
 }